:root {
  --ff-base: "Nova Square";

  --color-page-bg: #6048df;
  --color-text-btn: #fff;

  --color-calc-bg: #000;
  --color-def-bg-btn: #333;
  --color-def-active-bg-btn: #888;
  --color-symb-btn: #fe9e0b;
  --color-head-btn: #a5a5a5;
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-page-bg);
  color: var(--color-text-btn);
  font-family: var(--ff-base), sans-serif;
}
.wrapper {
  padding: 30px;
}
