/* import normalize */
@import './normalize.css';
/* import fonts */
@import './fonts.css';
/* import base */
@import './base.css';

.calc {
  box-shadow: 0 0 0 2px rgba(218, 102, 123, 1),
    8px 8px 0 0 rgba(218, 102, 123, 1);
  background-color: var(--color-calc-bg);
  max-height: calc(100vh - 30px);
  border-radius: 30px;
  max-width: 428px;
  margin: 0 auto;
  height: auto;
  width: 100%;
}
.calc__wrapper {
  padding: 25px;
}
.head {
  font-size: clamp(0.75rem, 0.482rem + 1.34vw, 1.125rem);
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.head__icons {
  align-items: center;
  column-gap: 8px;
  display: flex;
}
.keyboard {
  margin-top: 15px;
}
.keyboard__row {
  grid-template-columns: repeat(4, 1fr);
  margin-top: clamp(0.625rem, 0.402rem + 1.12vw, 0.938rem);
  column-gap: clamp(0.875rem, 0.607rem + 1.34vw, 1.25rem);
  display: grid;
}
.keyboard__row:last-child {
  grid-template-columns: 2fr 1fr 1fr;
}
.keyboard__btn {
  background-color: var(--color-def-bg-btn);
  border-radius: 352px;
  transition: all 0.3s;
  aspect-ratio: 1 / 1;
  position: relative;
  user-select: none;
}
@media (min-width: 769px) {
  .keyboard__btn {
    cursor: pointer;
  }
}
.keyboard__btn:active {
  background-color: var(--color-def-active-bg-btn);
  scale: 0.9;
}
.keyboard__btn--zero {
  aspect-ratio: 0;
}
.keyboard__btn--orange {
  background-color: var(--color-symb-btn);
}
.keyboard__btn--siver {
  background-color: var(--color-head-btn);
}
.keyboard__text {
  font-size: clamp(0.875rem, 0.161rem + 3.57vw, 1.875rem);
  transform: translate(-50%, -50%);
  position: absolute;
  user-select: none;
  left: 50%;
  top: 50%;
}
.output {
  justify-content: space-between;
  padding: 40px 0 30px;
  align-items: center;
  position: relative;
  margin-top: 20px;
  font-size: 40px;
  display: flex;
  gap: 20px;
}
.output__prev {
  position: absolute;
  font-size: 14px;
  opacity: 0.4;
  right: 10px;
  top: 10px;
}
